html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
*,
*:after,
*:before{
    box-sizing: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
}
a{
    color:#01579b;
    transition: color 0.3s ease;
}
a:hover{
    color:#00b0ff;
}
h1{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}
.loader{
    background-color: black;
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}
.form-search{
    margin: auto;
    text-align: center;
}
.form-search input{
    display: block;
    margin: auto;
    padding: 0.25rem;
    font-size: 1rem;
}
.grid-fluid{
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
}
.header{
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
}
.header > *{
    margin: 1rem auto;
}
.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #eceff1;
}
.post-card p{
    display: flex;
    justify-content: space-between;
}
.error{
    background-color: red;
    text-align: center;
    color: white;
    font-size: 22px;
}
.post-page{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #eceff1;
}
.post-page > aside{
    margin: auto;
    width: 60%;
    text-align: center;
}
.post-page > hr{
    border: thin solid #cfd8dc;
    margin: 2rem auto;
    width: 80%;
}
.post-page time{
    margin: 1rem auto;
    display: block;
}
.post-page > article{
    padding: 0 2rem;
}
/* Centrar todas las imagenes, videos e iframes que puedan venir en la publicación */
.post-page img,
.post-page audio,
.post-page iframe,
.post-page video{
    margin: auto;
    display: block;
    max-width: 100%;
}